Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [1]:
import logging as lg
lg.basicConfig(filename="database.log",level=lg.INFO,format='%(asctime)s %(message)s')
#logger console creation
console_log=lg.StreamHandler()
console_log.setLevel(lg.DEBUG)
format=lg.Formatter('%(asctime)s %(message)s')
console_log.setFormatter(format)
#push into logger
lg.getLogger('').addHandler(console_log)
lg.info('logging started')

2021-06-13 16:45:15,449 logging started

In [4]:
def symmetric(a):
    int_to_str=str(a)
    count=0
    length=len(int_to_str)
    for i in range(len(int_to_str)):
        if int_to_str[i]==int_to_str[length-i-1]:
            count=1
            continue
        else:count=0
    if count==1:
        lg.info("its symmteric")
        return True  
    else:
        lg.info("its not symmteric")
        return False

In [5]:
symmetric((11211))

2021-06-13 16:46:31,424 its symmteric

True

Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [28]:
def product(a):
    a=str(a).replace(" ","").replace("'","").replace(",","")
    product=1
    for i in a:
        product=product*int(i)
    lg.info(product)
    return product

In [29]:
product("1, 2, 4, 6")

2021-06-13 16:55:06,745 48

48

Create a function that squares every digit of a number.

In [66]:
def square(a):
    number=str()
    int_to_str=str(a)
    length=len(int_to_str)
    for i in range(length):
        number=number+str(int(a[i])**2)
    lg.info("the sqaure of each number"+" "+str(number))
    return int(number)

In [67]:
square('123')

2021-06-13 17:09:14,377 the sqaure of each number 149

149

Create a function that sorts a list and removes all duplicate items from it.

In [76]:
def sort_remove(a):
    empty=[]
    if type(a)!=list:
        lg.error("please enter list")
        return "please enter list"
    else:
        new=sorted(a)
        print(new)
        for i in new:
            if i in empty:
                continue
            else:empty.append(i)
        lg.info(empty)
    return empty

In [77]:
sort_remove([1, 2, 3, 11, 11, 5, 5, 10])

2021-06-13 17:14:47,004 [1, 2, 3, 5, 10, 11]

[1, 2, 3, 5, 5, 10, 11, 11]

[1, 2, 3, 5, 10, 11]

Create a function that returns the mean of all digits.

In [84]:
def mean(a):
    sum=0
    string=str(a)
    for i in string:
        sum=sum+int(i)
    mean=float(sum/len(string))
    lg.info(mean)
    return mean

In [85]:
mean(42)

2021-06-13 17:22:28,588 3.0

3.0